<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <h1 style="text-align: center">Ready to talk?</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p style="text-align: center" class="lead">How can we help you? Let's build a customized solution that meets all of your needs.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 well box-shadow-extra-large">
          <h2>Contact Professional Services</h2>
          <div class="form-group">
            <label for="fullname">Fullname</label>
            <input type="text" class="form-control" placeholder="first and last name" />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" placeholder="you@example.com">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" placeholder="Acme, Inc">
          </div>
          <div class="form-group">
            <label for="comment">What can we help you with?</label>
            <textarea placeholder="tell us how we can help. For support questions, head to example.com/contact" name="comment" id="comment"
              cols="30" rows="5" class="form-control"></textarea>
          </div>
          <button class="btn btn-primary btn-blue">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

